body {
  background-color: #effffb;
}
h1 {
  color: #50d890;
}

h3 {
  color: #50d890;
}

hr {
  border-style: none;
  /*This is used to overwrite the default value*/
  border-top-style: dotted;
  /*Remember properties are all in a box*/
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
